<div class="register-container">
  <h2>Register New Employee</h2>
  <br>
  <form *ngIf="isAdmin" [formGroup]="registerEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="flex" style="width: 100%;text-align: left;gap: 1rem;">
      <input-text class="flex-1" formControlName="firstName" placeholder="First Name" label="First Name"
                  [validationRules]="[validations.required, validations.onlyLetters(), validations.minLengthWithoutSpaces(2)]"/>
      <input-text class="flex-1" formControlName="lastName" placeholder="Last Name" label="Last Name"
                  [validationRules]="[validations.required, validations.onlyLetters(), validations.minLengthWithoutSpaces(2)]"/>
    </div>

      <input-text class="flex-1" formControlName="email" placeholder="Email" label="Email" type="email"
                  [validationRules]="[validations.required, validations.isEmail]"/>
      <input-text class="flex-1" formControlName="jmbg" placeholder="JMBG" label="JMBG"
                  [validationRules]="[validations.required, validations.isValidJMBG()]"/>

    <div class="flex gap-1">
      <input-text class="flex-1" formControlName="username" placeholder="Username" label="Username"
                  [validationRules]="[validations.required, validations.minLengthWithoutSpaces(3)]"/>
      <input-text class="flex-1" formControlName="phone" placeholder="Phone Number" label="Phone Number"
                  [validationRules]="[validations.required, validations.isValidPhone()]"/>
    </div>

      <input-text formControlName="address" placeholder="Address" label="Address"
                  [validationRules]="[validations.required, validations.minLengthWithoutSpaces(5)]"/>

    <div class="flex gap-1">
      <input-text class="flex-1" formControlName="position" placeholder="Position" label="Position"
                  [validationRules]="[validations.required, validations.onlyLetters(), validations.minLengthWithoutSpaces(3)]"/>
      <input-text class="flex-1" formControlName="department" placeholder="Department" label="Department"
                  [validationRules]="[validations.required, validations.minLengthWithoutSpaces(3)]"/>
    </div>

    <div class="flex" style="width: 100%;text-align: left;gap: 1rem;">
      <div class="flex-1">
      <label class="mb-05">Gender</label>
      <select class="flex-1" formControlName="gender">
        <option value="" disabled selected>Select gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      </div>
      <input-text class="flex-1" formControlName="birthDate" type="date" placeholder="Date of Birth"
                  label="Date of Birth"
                  [validationRules]="[validations.required, validations.pastDate()]"/>
      <div class="flex-1">

      <label class="mb-05">Active Status</label>
      <select class="flex-1" formControlName="active">
        <option [value]="true">Active</option>
        <option [value]="false">Inactive</option>
      </select>
      </div>
    </div>

    <!-- New Role Dropdown -->
    <div>
      <label class="mb-05">Role</label>
      <select formControlName="role">
        <option value="" disabled selected>Select Role</option>
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
    </div>
<div class="flex gap-1 width-fit">
    <app-button type="submit">Register Employee</app-button>
    <app-button type="back-button">Cancel</app-button>
</div>
  </form>
</div>
