<div class="card width-fit text-center mx-auto">
  <h2 class="mb-1">Profit Banke (RSD)</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="loading">Loading bank profit...</div>

  <div *ngIf="!loading && userTaxes.length > 0 !== null">
    <!--    <p>{{ bankProfit | number:'1.2-2' }} RSD</p>-->
  </div>

  <div class="flex justify-between">
    <div>
      <h3>Exchange Profit</h3>
      <p>
        <strong>{{ exchangeProfit | number: "1.2-2" }} RSD</strong>
      </p>
    </div>
    <div>
      <h3>Stock Profit</h3>
      <p>
        <strong>{{ stockProfit | number: "1.2-2" }} RSD</strong>
      </p>
    </div>
  </div>

  <table *ngIf="userTaxes.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Profit</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userTaxes">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.profit }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && userTaxes.length == 0 && !errorMessage">
    <p>No data available.</p>
  </div>

  <!-- Pagination Controls -->
  <app-pagination
    [totalItems]="userTaxes.length"
    [pageSize]="pageSize"
    (pageChanged)="onPageChanged($event)"
  >
  </app-pagination>
</div>
