<div class="stock-date-details-container">
  <h2>
    Options for {{ stockTicker() || 'Stock' }}
    @if (selectedDate(); as date) {
      - Expiration: {{ date | date:'longDate' }}
    }
  </h2>

  @if (isLoading()) {
    <p class="loading-message">Loading options...</p>
  } @else {

    @if (errorMessage(); as errorMsg) {
      <p class="error-message">Error: {{ errorMsg }}</p>
    } @else {

      @if (groupedOptions() && groupedOptions().length > 0) {
        <div class="options-table-container">

          <table class="options-table">
            <!-- hederi -->
            <thead>
            <tr>
              <th colspan="3">CALLS</th>
              <th rowspan="2" class="strike-header">Strike</th>
              <th colspan="3">PUTS</th>
<!--              class="puts-header" bio u PUTS a i u CALLS-->
            </tr>
            <tr>
              <th>Price</th>
              <th>Vol</th>
              <th>OI</th>
              <th>Price</th>
              <th>Vol</th>
              <th>OI</th>
            </tr>
            </thead>

            <!-- tjelo -->
            <tbody>
              @for (item of groupedOptions(); track item.strike ?? $index) {
                <tr>
                  <td [ngClass]="{'calls-cell': true, 'positive': item.strike > 0, 'negative': item.strike <= 0}">

                    @if (item.call) {
                      <div class="last-cell">
                        <span>{{ item.call.premium | number:'1.2-2' }}</span>
                        <button
                          class="action-button x-button"
                          (click)="openBuyOptionModal(item.call)"
                          title="Buy Call">
                          X
                        </button>
                      </div>
                    } @else {
                      -
                    }
                  </td>
                  <td [ngClass]="{'calls-cell': true, 'positive': item.strike > 0, 'negative': item.strike <= 0}">
                    @if (item.call) {
                      {{ item.call.volume | number:'1.2-2' }} <!-- TODO: menjati sa item.call.volume -->
                    } @else {
                      -
                    }
                  </td>
                  <td [ngClass]="{'calls-cell': true, 'positive': item.strike > 0, 'negative': item.strike <= 0}">
                    <!-- OI column -->
                    @if (item.call) {
                      {{ item.call.openInterest | number }}
                    } @else {
                      -
                    }
                  </td>

                  <td class="strike-column">
                    {{ item.strike | number:'1.2-2' }}
                  </td>

                  <!-- PUTS deo -->
                  <td [ngClass]="{'puts-cell': true, 'positive': item.strike <= 0, 'negative': item.strike > 0}">
                    @if (item.put) {
                      <div class="last-cell">
                        <span>{{ item.put.premium | number:'1.2-2' }}</span>
                        <button
                          class="action-button x-button"
                          (click)="openBuyOptionModal(item.put)"
                          title="Buy Put">
                          X
                        </button>
                      </div>
                    } @else {
                      -
                    }
                  </td>
                  <td [ngClass]="{'puts-cell': true, 'positive': item.strike <= 0, 'negative': item.strike > 0}">
                    @if (item.put) {
                      {{ item.put.volume | number:'1.2-2' }} <!-- TODO: dodati item.put.volume -->

                    } @else {
                      -
                    }
                  </td>
                  <td [ngClass]="{'puts-cell': true, 'positive': item.strike <= 0, 'negative': item.strike > 0}">
                    <!-- OI column -->
                    @if (item.put) {
                      {{ item.put.openInterest | number }}
                    } @else {
                      -
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <p>No options found for this stock and expiration date.</p>
      }
    }
  }
</div>

<app-order-creation-modal
  [isOpen]="isOrderModalOpen()"
  [direction]="'BUY'"
  [securityTicker]="modalSecurityTicker"
  [securityPrice]="modalSecurityPrice"
  [contractSize]="modalContractSize"
  [listingId]="modalListingId"
  (closeModalEvent)="closeOrderModal()"
  (createOrderEvent)="handleOrderCreation($event)"
>
</app-order-creation-modal>
