<app-modal [title]="modalTitle" [isOpen]="isOpen" (closeModalEvent)="closeModal()">

  <br/>
  <div *ngIf="currentView === ModalView.FORM" class="order-form flex-col gap-1">
    <!-- Quantity -->
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input-text
        type="number"
        id="quantity"
        name="quantity"
        [(ngModel)]="quantity"
        (ngModelChange)="onInputChange()"
        min="1"
        required
        class="form-input"
      />
    </div>
<div class="flex-col info-card">
    <!-- Limit Price -->
    <div class="form-group mb-1">
      <label for="limitPrice">Limit Price:</label>
      <input-text
        type="number"
        id="limitPrice"
        name="limitPrice"
        [(ngModel)]="limitPrice"
        (ngModelChange)="onInputChange()"
        placeholder="Optional"
        class="form-input"
        min="0.01"
        step="0.01"
      />
    </div>

    <!-- Stop Price -->
    <div class="form-group">
      <label for="stopPrice">Stop Price:</label>
      <input-text
        type="number"
        id="stopPrice"
        name="stopPrice"
        [(ngModel)]="stopPrice"
        (ngModelChange)="onInputChange()"
        placeholder="Optional"
        class="form-input"
        min="0.01"
        step="0.01"
      />
    </div>

    <!-- Account Selection -->
    <div class="form-group">
      <label for="account">Source Account:</label>
      <select id="account" name="account" [(ngModel)]="selectedAccountId" class="form-select" required [disabled]="isLoadingAccounts">
          <option [ngValue]="null" disabled>{{ isLoadingAccounts ? 'Loading accounts...' : 'Select Account' }}</option>
          <option *ngFor="let acc of accounts" [value]="acc.value">{{ acc.label }}</option>
      </select>
      <div *ngIf="!isLoadingAccounts && accounts.length === 0" class="no-accounts-message">
        No accounts available for purchase.
      </div>
    </div>
    <!-- Note -->
    <p class="note" style="font-size: 0.8rem">
      * If you leave limit/stop fields empty, market price is taken into account.
    </p>
  </div>

    <!-- Checkboxes -->
    <div class="checkbox-group flex gap-1">
      <div class="checkbox-item flex-col">
        <input
          type="checkbox"
          id="allOrNone"
          name="allOrNone"
          [(ngModel)]="allOrNone"
          (ngModelChange)="onInputChange()"
        />
        <label for="allOrNone">All or None (AON)</label>
      </div>
      <div class="checkbox-item flex-col">
        <input
          type="checkbox"
          id="margin"
          name="margin"
          [(ngModel)]="margin"
          (ngModelChange)="onInputChange()"
        />
        <label for="margin">Use Margin</label>
      </div>
    </div>

    <!-- Display Calculated Info -->
    <div class="info-card" *ngIf="isOpen">
        <p>Order Type: <strong>{{ fullOrderName }}</strong></p>
        <p>Approx. Total Price:
           <strong *ngIf="approximatePrice !== null">{{ approximatePrice | currency:'USD':'symbol':'1.2-2' }}</strong>
           <strong *ngIf="approximatePrice === null">N/A</strong>
           <span *ngIf="determinedOrderType === OrderType.MARKET || determinedOrderType === OrderType.STOP"> (based on current price: {{ securityPrice | currency }})</span>
           <span *ngIf="determinedOrderType === OrderType.LIMIT || determinedOrderType === OrderType.STOP_LIMIT"> (based on limit price)</span>
        </p>
    </div>


    <!-- Actions -->
    <div class="form-actions flex gap-1">
      <app-button (onClick)="proceedToConfirmation()">Review Order</app-button>
      <app-button type="button" (onClick)="closeModal()">Cancel</app-button>
    </div>
  </div>

  <!-- Confirmation View -->
  <div *ngIf="currentView === ModalView.CONFIRMATION" class="confirmation-view">
      <div class="info-card mb-1">

    <p>Please review your order details:</p>
      <ul>
          <li><strong>Security:</strong> {{ securityTicker }}</li>
          <li><strong>Action:</strong> {{ direction }}</li>
          <li><strong>Quantity:</strong> {{ quantity }}</li>
          <li><strong>Order Type:</strong> {{ fullOrderName }}</li>
          <li *ngIf="direction === 'BUY'"><strong>Source Account:</strong> {{ selectedAccountLabel }}</li>
          <li>
              <strong>Approx. Total Price:</strong>
              <span *ngIf="approximatePrice !== null">{{ approximatePrice | currency:'USD':'symbol':'1.2-2' }}</span>
              <span *ngIf="approximatePrice === null">N/A</span>
          </li>
          <li *ngIf="limitPrice"><strong>Limit Price:</strong> {{ limitPrice | currency }}</li>
          <li *ngIf="stopPrice"><strong>Stop Price:</strong> {{ stopPrice | currency }}</li>
      </ul>
      </div>

      <div class="form-actions flex gap-1">
          <app-button (onClick)="confirmOrder()">Confirm</app-button>
          <app-button type="button" (onClick)="goBackToForm()">Back</app-button>
      </div>
  </div>

</app-modal>
