<app-modal title="OTC" [isOpen]="isOpen" (closeModalEvent)="closeModal()">
  <div class="info-card mt-1">
    <p><strong>Owner of a stock:</strong> {{ owner }}</p>
    <p><strong>Stock:</strong> {{ stockSymbol }}</p>
  </div>

  <div class="flex flex-col gap-1 mb-1 mt-1">
    <!-- Volume Input -->
    <div class="form-group">
      <input-text
        label="Volume of a stock:"
        type="number"
        id="quantity"
        name="quantity"
        [(ngModel)]="offerQuantity"
        placeholder="Enter quantity"
        class="form-input"
        [class.input-error]="quantityError"
        min="1"
      />
      @if (quantityError) {
        <div class="error-message">{{ quantityError }}</div>
      }
    </div>

    <!-- Price Offer Input -->
    <div class="form-group">
      <input-text
        label="Price Offer:"
        type="number"
        id="priceOffer"
        name="priceOffer"
        [(ngModel)]="offerPrice"
        placeholder="Enter price"
        class="form-input"
        [class.input-error]="priceError"
        min="0.01"
        step="0.01"
      />
      @if (priceError) {
        <div class="error-message">{{ priceError }}</div>
      }
    </div>

    <!-- Settlement Date Input -->
    <div class="form-group">
      <input-text
        label="Settlement Date Offer:"
        type="date"
        id="settlementDate"
        name="settlementDate"
        [(ngModel)]="settlementDateOffer"
        class="form-input"
        [class.input-error]="dateError"
      />
      @if (dateError) {
        <div class="error-message">{{ dateError }}</div>
      }
    </div>

    <!-- Premium Offer Input -->
    <div class="form-group">
      <input-text
        label="Premium Offer:"
        type="number"
        id="premiumOffer"
        name="premiumOffer"
        [(ngModel)]="premiumOffer"
        placeholder="Enter premium"
        class="form-input"
        min="0"
        step="0.01"
      />
      @if (premiumError) {
        <div class="error-message">{{ premiumError }}</div>
      }
    </div>
  </div>

  <div class="flex gap-1">
    <app-button type="button" (onClick)="closeModal()">CANCEL</app-button>
    <app-button (onClick)="makeOffer()">MAKE AN OFFER</app-button>
  </div>
</app-modal>
