<div class="portfolio-container">
  <h2>My Portfolio</h2>

  <table *ngIf="securities.length > 0">
    <thead>
    <tr>
      <th>Type</th>
      <th>Ticker</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Profit</th>
      <th>Last Modified</th>
      <th>Public</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let security of securities">
      <td>{{ security.type }}</td>
      <td>{{ security.ticker }}</td>
      <td>{{ security.amount }}</td>
      <td>{{ security.price }}</td>
      <td [ngClass]="{'positive': security.profit >= 0, 'negative': security.profit < 0}">
        {{ security.profit }}
      </td>
      <td>{{ security.lastModified }}</td>
      <td class="public-cell">
        <span>{{ security.publicCounter }}</span>
        <button class="publish-button" (click)="publishSecurity(security)">Publish</button>
      </td>
      <td>
        <app-button class="sell-button">Sell</app-button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="portfolio-buttons">
    <app-button class="info-button" (click)="openProfitModal()">Profit Info</app-button>
    <app-button class="info-button" (click)="openTaxModal()">Tax Info</app-button>
  </div>

  <app-modal [title]="'Profit Information'" [isOpen]="isProfitModalOpen" (closeModalEvent)="isProfitModalOpen = false">
    <div class="modal-content">
      <div class="text-left">
        <p>Total Profit: <strong>{{ getTotalProfit().toFixed(2) }} USD</strong></p>
      </div>
      <div class="width-fit">
        <app-button class="close-button" (click)="closeModals()">Close</app-button>
      </div>
    </div>
  </app-modal>

  <!-- Tax Info Modal -->
  <app-modal [title]="'Tax Information'" [isOpen]="isTaxModalOpen" (closeModalEvent)="isTaxModalOpen = false">
    <div class="modal-content">
      <div class="text-left">
        <p>Total Tax Paid: <strong>{{ getTotalTax().toFixed(2) }} USD</strong></p>
      </div>
      <div class="width-fit">
        <app-button class="close-button" (click)="closeModals()">Close</app-button>
      </div>
    </div>
  </app-modal>
</div>
