<div class="autocomplete-container" [class.error]="showErrors">
  <input-text
    [label]="label"
    [placeholder]="placeholder"
    [disabledInput]="disabled"
    [value]="value"
    (input)="onInput($event)"
    (focus)="isOpen = true"
    (blur)="onBlur()"
    [formControlComp]="formControlComp"
    #input
  ></input-text>

  <div class="autocomplete-dropdown" *ngIf="isOpen && filteredOptions.length">
    <div
      *ngFor="let option of filteredOptions"
      class="dropdown-option"
      (click)="selectOption(option)"
    >
      {{ option[filterKey] }}
    </div>
  </div>

  <div *ngIf="showErrors" class="error-messages">
    <div *ngFor="let error of errors" class="error-message">
      {{ error }}
    </div>
  </div>
</div>
