<div class="container">
  <h2>Create New {{newAccount.accountType | titlecase}} Account</h2>
  <form #accountForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="column">
        <div class="form-group">
          <!-- Clients -->
          <label for="clientId">Client:</label>

            <select id="clientId" name="clientId" [(ngModel)]="newAccount.clientId" required>
              <option *ngFor="let user of users" [ngValue]="user.id">
                {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
              </option>
            </select>
            <button (click)="navigateToRegisterUser()" class="create-user-link">Create New User</button>

        </div>

        <div class="form-group">
          <!-- Account Type -->
          <label for="accountType">Account Type:</label>
          <select id="accountType" name="accountType" [(ngModel)]="newAccount.accountType" (change)="onAccountTypeChange()">
            <option value="CURRENT">CURRENT</option>
            <option value="FOREIGN">FOREIGN</option>
          </select>
        </div>


        <!-- Monthly Fee -->
        <div class="form-group" *ngIf="isCurrentAccount">
          <label for="monthlyFee">Monthly Fee:</label>
          <input id="monthlyFee" name="monthlyFee" [(ngModel)]="newAccount.monthlyFee" type="number" />
        </div>
      </div>

      <div class="column">
        <div class="form-group">
          <!-- Account Owner Type -->
          <label for="accountOwnerType">Account Owner Type:</label>
          <select id="accountOwnerType" name="accountOwnerType" [(ngModel)]="newAccount.accountOwnerType" (change)="onAccountOwnerTypeChange()">
            <option value="PERSONAL">PERSONAL</option>
            <option value="COMPANY">COMPANY</option>
          </select>
        </div>

        <!-- Company Dropdown (Conditional) -->
        <div class="form-group" *ngIf="isCompanyAccount">
          <label for="companyId">Company:</label>
          <select id="companyId" name="companyId" [(ngModel)]="newAccount.companyId">
            <option *ngFor="let company of companies" [value]="company.id">
              {{ company.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <!-- Rest of the fields -->
          <label for="currency">Currency:</label>
          <!--  <input id="currency" name="currency" [(ngModel)]="newAccount.currency" type="text" required />-->
          <select id="currency" name="currency" [(ngModel)]="newAccount.currency" required>
            <option *ngFor="let currency of availableCurrencies" [value]="currency">
              {{ currency }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="initialBalance">Initial Balance:</label>
          <input id="initialBalance" name="initialBalance" [(ngModel)]="newAccount.initialBalance" type="number" required />
        </div>

        <div class="form-group">
          <label for="dailyLimit">Daily Limit:</label>
          <input id="dailyLimit" name="dailyLimit" [(ngModel)]="newAccount.dailyLimit" type="number" required />
        </div>

        <div class="form-group">
          <label for="monthlyLimit">Monthly Limit:</label>
          <input id="monthlyLimit" name="monthlyLimit" [(ngModel)]="newAccount.monthlyLimit" type="number" required />
        </div>

        <div class="form-group">
          <label for="dailySpending">Daily Spending:</label>
          <input id="dailySpending" name="dailySpending" [(ngModel)]="newAccount.dailySpending" type="number" required />
        </div>

        <div class="form-group">
          <label for="monthlySpending">Monthly Spending:</label>
          <input id="monthlySpending" name="monthlySpending" [(ngModel)]="newAccount.monthlySpending" type="number" required />
        </div>

        <div class="form-group checkbox-group">
          <label for="isActive">Is Active:</label>
          <input id="isActive" name="isActive" type="checkbox" (change)="toggleIsActive()" [checked]="newAccount.isActive === 'ACTIVE'" />
        </div>

        <div class="form-group checkbox-group">
          <label for="createCard">Create Card:</label>
          <input id="createCard" name="createCard" [(ngModel)]="newAccount.createCard" type="checkbox"/>
        </div>
      </div>
    </div>
    <button type="submit" class="submit-btn" [disabled]="accountForm.invalid || !newAccount.clientId || !employeeId">Create Account</button>
  </form>
</div>
