<body>
<div class="edit-container">
  <h2>Transfer</h2>

  <!-- Prvi red: Sa računa + Na račun -->
  <div class="form-row">
    <div class="input-group">
      <label for="from-account">From Account</label>
      <app-select id="from-account" [(ngModel)]="selectedFromAccountNumber">
        <option *ngFor="let account of accounts" [value]="account.accountNumber">
          {{ account.clientId }} - {{ account.accountNumber }}
        </option>
      </app-select>
      <p class="balance" *ngIf="selectedFromAccount">Available: {{ selectedFromAccount.availableBalance }} RSD</p>
    </div>

    <div class="input-group">
      <label for="to-account">To Account</label>
      <app-select id="to-account" [(ngModel)]="selectedToAccountNumber">
        <option *ngFor="let account of accounts" [value]="account.accountNumber">
          {{ account.clientId }} - {{ account.accountNumber }}
        </option>
      </app-select>
      <p class="balance" *ngIf="selectedToAccount">Available: {{ selectedToAccount.availableBalance }} RSD</p>
    </div>
  </div>

  <!-- Drugi red: Iznos -->
  <div class="form-row">
    <div class="input-group full-width">
      <label for="amount">Amount</label>
      <input-text id="amount" type="number" placeholder="Enter amount" [(ngModel)]="transferAmount"></input-text>
    </div>
  </div>

  <app-button label="Continue" (click)="onContinue()"></app-button>
</div>
</body>
