<aside
  id="logo-sidebar"
  [ngClass]="{ open: isSidebarOpen }"
  aria-label="Sidebar"
>
  <div class="sidebar-content">
    <div class="sidebar-list">
      <!-- Client Portal -->
      <div>
        <a class="sidebar-link" (click)="goToClientPortalOrUserDetail()">
          <i class="ri-user-line sidebar-icon"></i>
          <span class="sidebar-text">Client Portal</span>
        </a>
      </div>

      <!-- Accounts Group -->
      <div *ngIf="isSupervisor || isAdmin">
        <a
          class="sidebar-link sidebar-group-button"
          (click)="toggleGroup('isAccountsOpen')"
        >
          <div>
            <i class="ri-team-line sidebar-icon"></i>
            <span class="sidebar-text">Accounts</span>
          </div>
          <i
            class="ri-arrow-down-s-line dropdown-icon"
            [ngClass]="{ rotate: isAccountsOpen }"
          ></i>
        </a>
        <ul class="sidebar-sublist" *ngIf="isAccountsOpen">
          <li *ngIf="isAdmin">
            <a class="sidebar-link" (click)="goToEmployees()">Employees</a>
          </li>
          <li *ngIf="isAdmin || isSupervisor">
            <a class="sidebar-link" (click)="goToActuaries()">Actuaries</a>
          </li>
        </ul>
      </div>

      <div *ngIf="isClient">
        <a class="sidebar-link" (click)="goToAccountManagement()">
          <i class="ri-wallet-3-line sidebar-icon"></i>
          <span class="sidebar-text">Accounts</span>
        </a>
      </div>

      <!-- Payments -->
      <div *ngIf="true">
        <a class="sidebar-link" (click)="goToPayments()">
          <i class="ri-bank-card-line sidebar-icon"></i>
          <span class="sidebar-text">Payments</span>
        </a>
      </div>

      <!-- Loans -->
      <div>
        <a class="sidebar-link" (click)="goToLoans()">
          <i class="ri-hand-coin-line sidebar-icon"></i>
          <span class="sidebar-text">Loans</span>
        </a>
      </div>

      <!-- Bank Admin Group -->
      <div *ngIf="isAdmin || isSupervisor" class="sidebar-group">
        <a
          class="sidebar-link sidebar-group-button"
          (click)="toggleGroup('isBankAdminOpen')"
        >
          <div>
            <i class="ri-bank-line sidebar-icon"></i>
            <span class="sidebar-text">Bank Admin</span>
          </div>
          <i
            class="ri-arrow-down-s-line dropdown-icon"
            [ngClass]="{ rotate: isBankAdminOpen }"
          ></i>
        </a>
        <ul class="sidebar-sublist" *ngIf="isBankAdminOpen">
          <li *ngIf="isAdmin || isSupervisor">
            <a class="sidebar-link" (click)="goToBankAccounts()"
              >Bank Accounts</a
            >
          </li>
          <li>
            <a class="sidebar-link" (click)="goToBankProfit()">Bank Profit</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="goToTaxPortal()">Tax Portal</a>
          </li>
        </ul>
      </div>

      <div>
        <a class="sidebar-link" (click)="goToExchangeRate()">
          <i class="ri-exchange-line sidebar-icon"></i>
          <span class="sidebar-text">Currency Exchange</span>
        </a>
      </div>

      <!-- Market Group -->
      <div *ngIf="isAdmin || isSupervisor || isAgent || isClient" class="sidebar-group">
        <a
          class="sidebar-link sidebar-group-button"
          (click)="toggleGroup('isMarketOpen')"
        >
          <div>
            <i class="ri-stock-line sidebar-icon"></i>
            <span class="sidebar-text">Market</span>
          </div>
          <i
            class="ri-arrow-down-s-line dropdown-icon"
            [ngClass]="{ rotate: isMarketOpen }"
          ></i>
        </a>
        <ul class="sidebar-sublist" *ngIf="isMarketOpen">
          <li>
            <a class="sidebar-link" (click)="goToPortfolio()">My Portfolio</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="goToSecurities()">Securities</a>
          </li>
          <li *ngIf="isSupervisor || isAdmin || isAgent || isClient">
            <a class="sidebar-link" (click)="goToOrderList()">Orders</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="goToSettledContracts()"
              >Settled Contracts</a
            >
          </li>
          <li>
            <a class="sidebar-link" (click)="goToOtc()">OTC</a>
          </li>
          <li>
            <a class="sidebar-link" (click)="goToActiveOffers()"
              >Active Offers</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<app-modal
  [title]="'Payment'"
  [isOpen]="isModalOpen"
  (closeModalEvent)="isModalOpen = false"
>
  <br />
  <div class="modal-content flex-col gap-1">
    <div class="flex gap-1">
      <app-button class="flex-1 width-full" (click)="navigateTo('/new-payment')"
        >New Payment</app-button
      >
      <app-button class="flex-1 width-full" (click)="navigateTo('/transfer')"
        >Transfer Payment</app-button
      >
    </div>
    <div class="flex gap-1">
      <app-button class="flex-1 width-full" (click)="navigateTo('/recipients')"
        >Payment Recipients</app-button
      >
      <app-button
        class="flex-1 width-full"
        (click)="navigateTo('/payment-details')"
        >Payment Details</app-button
      >
    </div>
  </div>
</app-modal>

<app-modal
  [title]="'New Account'"
  [isOpen]="isAccountModalOpen"
  (closeModalEvent)="this.isAccountModalOpen = false"
>
  <div class="modal-content">
    <div class="new-account-options">
      <app-button
        [routerLink]="['/create-current-account']"
        (click)="this.isAccountModalOpen = false"
        >Checking Account</app-button
      >
      <app-button
        [routerLink]="['/create-foreign-currency-account']"
        (click)="this.isAccountModalOpen = false"
        >Foreign Currency Account</app-button
      >
    </div>
  </div>
</app-modal>
