<div class="card width-50 margin-auto flex-col gap-1">
  <h2>Edit User</h2>

  <div *ngIf="loading" class="loading">Loading user...</div>

  <form *ngIf="userForm" [formGroup]="userForm" class="flex-col gap-1" (ngSubmit)="saveChanges()">
    <div class="flex gap-1">

      <input-text class="flex-1" formControlName="firstName" [disabledInput]="true" label="First Name"
                  placeholder="First Name"/>

      <input-text class="flex-1" formControlName="lastName" label="Last Name" placeholder="Last Name"
                  [validationRules]="[validations.required, validations.minLength(2)]"
                  [formControlComp]="userForm.controls['lastName']"
                  [errorMessages]="{ required: 'Last name is required.', minlength: 'Minimum 2 characters required.' }"
      />
    </div>
    <div class="flex gap-1">
      <input-text class="flex-1" formControlName="birthDate" [disabledInput]="true" type="date" label="Date of Birth"/>

      <div class="flex-1">

      <label class="mb-05">Gender</label>
      <select class="flex-1" formControlName="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      </div>
    </div>
    <input-text formControlName="email" [disabledInput]="true" type="email" label="Email"/>

    <input-text formControlName="phone" label="Phone Number" placeholder="Phone Number"
                [validationRules]="[validations.required, validations.isValidPhone()]"
                [formControlComp]="userForm.controls['phone']"
                [errorMessages]="{ required: 'Phone number is required.', pattern: 'Invalid phone number.' }"/>

    <input-text formControlName="address" label="Address" placeholder="Address"
                [validationRules]="[validations.required]"
                [formControlComp]="userForm.controls['address']"
                [errorMessages]="{ required: 'Address is required.' }"
    />

    <div class="flex gap-1 width-fit">
    <app-button type="submit" [disabled]="loading">Save</app-button>
    <app-button type="back-button">Cancel</app-button>
    </div>
  </form>
</div>
