<div class="myorders-container">
  <h2>My Orders</h2>

  <table *ngIf="myOrders.length > 0">
    <thead>
    <tr>
      <th>Listing Type</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Exchange Mic</th>
      <th>OrderType</th>
      <th>Total Quantity</th>
      <th>Remaining Quantity</th>
      <th>Price Per Unit</th>
      <th>Direction</th>
      <th>Status</th>
      <th>LastModification</th>
      <th>Account Number</th>
      <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of myOrders">
      <td>{{ order.listing.listingType }}</td>
      <td>{{ order.listing.ticker }}</td>
      <td>{{ order.listing.price }}</td>
      <td>{{ order.listing.exchangeMic }}</td>
      <td>{{ order.orderType }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.remainingPortions }}</td>
      <td>{{ order.pricePerUnit }}</td>
      <td>{{ order.direction }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.lastModification }}</td>
      <td>{{ order.accountNumber }}</td>
      <td>
        <app-button *ngIf="order.status === 'PENDING'" class="sell-button" (onClick)="cancelOrder(order.id)">
          Cancel
        </app-button>
      </td>

    </tr>
    </tbody>
  </table>
</div>

