<div class="stock-details-container">
  <h2>Stock Details</h2>

  <p *ngIf="isLoading()" class="loading-message">Loading details...</p>

  <p *ngIf="!isLoading() && errorMessage()" class="error-message">
    Error: {{ errorMessage() }}
  </p>

  <ng-container *ngIf="!isLoading() && !errorMessage() && listingDetails() as details">
    <div class="details-header">
      <h3>{{ details.name }} ({{ details.ticker }})</h3>
      <p>Current Price: {{ details.currentPrice | number:'1.2-4' }}</p>
      <p>Exchange: {{ details.exchangeMic }}</p>
      <p>Listing type: {{ details.listingType }}</p>

      <div style="height: 400px;">
        <canvas #stockChart></canvas>
      </div>

    </div>
  </ng-container>
</div>
