<div class="stock-details-container">
  <h2>Stock Details</h2>

  <p *ngIf="isLoading()" class="loading-message">Loading details...</p>

  <p *ngIf="!isLoading() && errorMessage()" class="error-message">
    Error: {{ errorMessage() }}
  </p>

  <ng-container *ngIf="!isLoading() && !errorMessage() && listingDetails() as details">
    <div class="details-header">
      <h3>{{ details.name }} ({{ details.ticker }})</h3>
      <p>Current Price: {{ details.currentPrice | number:'1.2-4' }}</p>
      <p>Exchange: {{ details.exchangeMic }}</p>
      <p>Listing type: {{ details.listingType }}</p>

      <div style="height: 400px;">
        <canvas #stockChart></canvas>
      </div>

      <hr />

      <div class="option-dates-section">
        <h4>Option Settlement Dates</h4>
        <ng-container *ngIf="
          details.listingType === ListingType.STOCK &&
          details.optionSettlementDates &&
          details.optionSettlementDates.length > 0;
          else noOptions
        ">
          <ul>
            <li *ngFor="let date of details.optionSettlementDates">
              <ng-container *ngIf="stockId() as id; else missingId">
                <a [routerLink]="['/stock-details', id, 'options', date]">
                  {{ date | date:'longDate' }}
                </a>
              </ng-container>
              <ng-template #missingId>
                <span>{{ date | date:'longDate' }} (Error: Missing ID for link)</span>
              </ng-template>
            </li>
          </ul>
        </ng-container>
        <ng-template #noOptions>
          <p>No option settlement dates available for this listing.</p>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
