<div class="input-container" [class.error]="showErrors">
  <label *ngIf="label">{{ label }}</label>
  <input
    *ngIf="type != 'textarea'"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [name]="name"
    [disabled]="disabledInput"
    [class.disabled]="disabledInput"
  />
  <textarea *ngIf="type === 'textarea'" [placeholder]="placeholder"
            [value]="value"
            (input)="onInput($event)"
            (blur)="onBlur()"
            (focus)="onFocus()"
            [name]="name"
            [disabled]="disabledInput"
            [class.disabled]="disabledInput"
  ></textarea>
  <div *ngIf="showErrors" class="error-messages">
    <div *ngFor="let error of errors" class="error-message">{{ error }}</div>
  </div>
</div>
