<div class="card width-fit margin-auto flex-col gap-1">
  <h2>Create New Card</h2>
  <form [formGroup]="cardForm" class="flex-col gap-1" (ngSubmit)="onSubmit()">
    <!-- Card Type -->
    <label>Card Type</label>
    <select formControlName="type">
      <option value="DEBIT">DEBIT</option>
      <option value="CREDIT">CREDIT</option>
    </select>
    <div *ngIf="cardForm.get('type')?.invalid && (cardForm.get('type')?.dirty || cardForm.get('type')?.touched)"
         class="error-message">
      Card type is required
    </div>

    <!-- Issuer -->
    <label>Issuer</label>
    <select formControlName="issuer">
      <option value="VISA">VISA</option>
      <option value="MASTERCARD">MASTERCARD</option>
      <option value="DINA">DINA</option>
      <option value="AMERICAN_EXPRESS">AMERICAN_EXPRESS</option>
    </select>
    <div *ngIf="cardForm.get('issuer')?.invalid && (cardForm.get('issuer')?.dirty || cardForm.get('issuer')?.touched)"
         class="error-message">
      Issuer is required
    </div>

    <!-- Card Name -->
    <input-text label="Card Name"
                formControlName="name"
                [formControlComp]="cardForm.controls['name']"
                [errorMessages]="{
                  required: 'Name is required',
                  minlength: 'Minimum 2 characters'
                }"
    ></input-text>

    <!-- Card Limit -->
    <input-text label="Card Limit"
                type="number"
                formControlName="cardLimit"
                [formControlComp]="cardForm.controls['cardLimit']"
                [errorMessages]="{
                  required: 'Limit is required',
                  min: 'Must be at least 1'
                }"
    ></input-text>


    <app-button type="submit" [disabled]="cardForm.invalid">Create</app-button>
  </form>
</div>
