body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #B399DD, #D0C9EA);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: bold;
  color: #996FD6;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background: #6A4BBC;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.nav-btn:hover {
  background: #8E79D2;
}

.logout-btn {
  background: #D7263D;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.logout-btn:hover {
  background: #B71E2F;
}


.login-btn {
  background: #e33f54;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
}

.login-btn:hover {
  background: #a64d79;
}

.account-option {
  background: #D0C9EA;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.account-option:hover {
  background: #B399DD;
}

.modal-content {
  padding: 20px;
  text-align: center;
}

.new-account-options {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
