<div class="reset-container">
  <div class="card reset-card">
  <h2>Reset Your Password</h2>

  <p>Enter your new password below.</p>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <input-text
      label="New Password"
      formControlName="newPassword"
      type="password"
      placeholder="Enter new password">
    </input-text>

    <div class="error" *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
      <small>New Password is required</small>
    </div>

    <div *ngIf="passwordFeedback">
      <small [ngClass]="{
        'weak': passwordForm.get('newPassword')?.errors?.['weakPassword'],
        'strong': !passwordForm.get('newPassword')?.errors
      }">
        {{ passwordFeedback }}
      </small>
    </div>

    <input-text
      label="Confirm Password"
      formControlName="repeatNewPassword"
      type="password"
      placeholder="Confirm new password">
    </input-text>

    <div class="error" *ngIf="passwordForm.get('repeatNewPassword')?.invalid && passwordForm.get('repeatNewPassword')?.touched">
      <small>Confirmation Password is required</small>
    </div>

    <div class="error" *ngIf="passwordForm.errors?.['passwordsMismatch']">
      <small>Passwords do not match</small>
    </div>

    <app-button
      type="submit"
      label="Submit"
      [disabled]="passwordForm.invalid">
      Submit
    </app-button>

  </form>

  <div *ngIf="success">
    <app-success
      message="Your password has been changed successfully!"
      title="Password reset"
      continuePath="/login">
    </app-success>
  </div>
  </div>
</div>
