@import "assets/css/table.css";
@import "assets/css/card.css";
@import "assets/css/dropdown.css";
@import "assets/css/tag.css";

.flex{
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.gap-1 {
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
  align-items: center;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.width-fit {
  width: fit-content !important;
}

.width-full {
  width: 100% !important;
}

.width-70 {
  width: 70vw;
}

.width-50 {
  width: 50vw;
}

.margin-auto {
  margin: auto;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
   margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mx-auto {
  margin: 0 auto;
}

.loading {
  color: #555;
  font-weight: 600;
  margin-top: 10px;
}

.cursor-pointer{
  cursor: pointer;
}
