<div class="employees-container">
  <h2>Employees</h2>

  <app-alert></app-alert>

  <div *ngIf="isAdmin; else unauthorized">
    <button class="register-btn" (click)="register()">Register new employee</button>

    <div id="employees-list" class="employee-list">
      <div *ngFor="let employee of pagedEmployees;" class="employee-card">
        <span>
          <strong>{{ employee.firstName }} {{ employee.lastName }}</strong> ({{ employee.email }})
        </span>
        <p class="role"><strong>Role:</strong> {{ employee.position }}</p>
        <p><strong>Phone:</strong> {{ employee.phone }}</p>
        <p><strong>Status:</strong> {{ employee.active ? 'Active' : 'Inactive' }}</p>

        <div class="employee-actions">
          <button class="view-details-btn" (click)="viewEmployeeDetails(employee.id)">View Details</button>
          <button class="delete-btn" (click)="openDeleteModal(employee)">Delete</button>
          <button class="deactivate-btn" (click)="deactivateEmployee(employee.id)" [disabled]="!employee.active">
            Deactivate
          </button>
        </div>
      </div>
    </div>

    <!-- Paginacija -->
    <app-pagination
      [totalItems]="filteredEmployees.length"
      [pageSize]="pageSize"
      (pageChanged)="onPageChanged($event)">
    </app-pagination>
  </div>

  <ng-template #unauthorized>
    <p>You are not authorized to view the employee list.</p>
  </ng-template>

  <div class="modal-overlay" *ngIf="showDeleteModal">
    <div class="modal">
      <h3>Confirm Deletion</h3>
      <p>
        Are you sure you want to delete
        <strong>{{ selectedEmployee?.firstName }} {{ selectedEmployee?.lastName }}</strong>
        ({{ selectedEmployee?.position }})?
      </p>

      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeDeleteModal()">Cancel</button>
        <button class="confirm-btn" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
