<div class="card exchange-container">
  <h2>Exchange Rates</h2>
  <div class="flex-col text-left gap-1">


  <table>
    <thead>
    <tr>
      <th>Currency</th>
      <th>Buy Rate</th>
      <th>Sell Rate</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let rate of exchageRateList">
      <tr *ngIf="rate.toCurrency.code === 'RSD'">
        <td>{{ rate.fromCurrency.code }}</td>
        <td>{{ rate.exchangeRate }} RSD</td>
        <td>{{ rate.sellRate }} RSD</td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div>
    <app-button (click)="isCurrencyConversionModalOpen = true">Currency Conversion</app-button>
  </div>
  </div>
</div>

<app-modal [title]="'Currency Conversion'" [isOpen]="isCurrencyConversionModalOpen"
           (closeModalEvent)="isCurrencyConversionModalOpen = false">
  <div class="modal-content flex-col gap-1" style="margin-top: 1rem">
    <input-text
      [(ngModel)]="exchangeAmount"
      (input)="exchangeRateCalculation()"
      placeholder="Enter amount"
      label="Amount"
      type="number"
    ></input-text>
    <app-select label="From Currency" [(ngModel)]="fromCurrency" (change)="onFromCurrencyChange()">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </app-select>
    <app-select label="To Currency" [(ngModel)]="toCurrency" (change)="onToCurrencyChange()">
      <option *ngFor="let currency of availableToCurrencies" [value]="currency">{{ currency }}</option>
    </app-select>

    <h3>Equivalent: {{ convertedAmount }} {{ toCurrency }}</h3>

    <app-button (click)="isCurrencyConversionModalOpen = false">Close</app-button>
  </div>
</app-modal>
