<div class="payments-container">
  <h2>Payments</h2>

  <app-alert></app-alert>

  <!-- Filters -->
  <div class="filter-container">
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" [(ngModel)]="startDate">

    <label for="endDate">End Date</label>
    <input type="date" id="endDate" [(ngModel)]="endDate">

    <button (click)="toggleFilters()" class="toggle-filters-btn">
      {{ showAdditionalFilters ? 'Hide Filters' : 'Show More Filters' }}
    </button>

    <div *ngIf="showAdditionalFilters" class="additional-filters">
      <label for="minAmount">Min Amount</label>
      <input type="number" id="minAmount" [(ngModel)]="minAmount">

      <label for="maxAmount">Max Amount</label>
      <input type="number" id="maxAmount" [(ngModel)]="maxAmount">

      <label for="paymentStatus">Status</label>
      <input type="text" id="paymentStatus" [(ngModel)]="paymentStatus">

      <label for="accountNumber">Account Number</label>
      <input type="text" id="accountNumber" [(ngModel)]="accountNumber">

      <label for="cardNumber">Card Number</label>
      <input type="text" id="cardNumber" [(ngModel)]="cardNumber">
    </div>
    <button (click)="applyFilters()">Apply Filters</button>
  </div>

  <!-- Payment List -->
  <div id="payments-list" class="payment-list">
    <div *ngFor="let payment of pagedPayments;" class="payment-card">
      <span>
        <strong>{{ payment.senderName ?? 'Transfer between my accounts' }}</strong>
        <span *ngIf="payment.cardNumber"> ({{ payment.cardNumber }})</span>
      </span>
      <p class="amount"><strong>Amount:</strong> {{ payment.amount }} {{ payment.senderCurrencyCode }}</p>
      <p><strong>Date:</strong> {{ payment.date | date }}</p>
      <p><strong>Status:</strong> {{ payment.status }}</p>

<!--      <div class="payment-actions">-->
<!--        <button class="view-details-btn" (click)="viewPaymentDetails(payment.id)">View Details</button>-->
<!--      </div>-->
    </div>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>
</div>
