<div class="payments-container">
  <h2>Payments</h2>

  <!-- Filters -->
  <div class="filter-container">
    <input-text label="Start Date" type="date" [(ngModel)]="startDate"></input-text>
    <input-text label="End Date" type="date" [(ngModel)]="endDate"></input-text>

    <div class="filter-buttons">
      <app-button
        (click)="toggleFilters()">
        {{ showAdditionalFilters ? 'Hide Filters' : 'Show More Filters' }}
      </app-button>

      <app-button (click)="applyFilters()">Apply Filters</app-button>
    </div>

    <div *ngIf="showAdditionalFilters" class="additional-filters">
      <input-text label="Min Amount" type="number" [(ngModel)]="minAmount"></input-text>
      <input-text label="Max Amount" type="number" [(ngModel)]="maxAmount"></input-text>
      <input-text label="Status" type="text" [(ngModel)]="paymentStatus"></input-text>
      <input-text label="Account Number" type="text" [(ngModel)]="accountNumber"></input-text>
      <input-text label="Card Number" type="text" [(ngModel)]="cardNumber"></input-text>
    </div>
  </div>

  <!-- Payment List -->
  <div id="payments-list" class="payment-list">
    <div *ngFor="let payment of pagedPayments;" class="payment-card">
      <span>
        <strong>{{ payment.senderName }}</strong>
        <span *ngIf="payment.cardNumber"> ({{ payment.cardNumber }})</span>
      </span>
      <p class="amount"><strong>Amount:</strong> {{ payment.amount }}</p>
      <p><strong>Date:</strong> {{ payment.date | date }}</p>
      <p><strong>Status:</strong> {{ payment.status }}</p>
    </div>
  </div>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>
</div>
