<div class="reset-container">
  <div class="card reset-card">
  <h2>Reset Your Password</h2>
  <p>Enter your email below to receive a password reset link.</p>

  <form [formGroup]="emailForm" class="flex-col gap-1" (ngSubmit)="onSubmit()">
    <input-text
      formControlName="email"
      placeholder="Enter your email"
      label="Email"
      [validationRules]="[validations.isEmail]"
    >
    </input-text>

    <app-button type="submit" [disabled]="emailForm.invalid">Submit</app-button>
  </form>

  <div *ngIf="success">
    <app-success
      message="A password reset link has been sent to your email."
      title="Password Reset"
      continuePath="/employees">
    </app-success>
  </div>
  </div>
</div>
