<section class="account-details">
  <div style="justify-content: space-between; display: flex">
    <div>
      <h3>Account Details</h3>
      <p><strong>Owner:</strong> {{ account?.accountOwner }}</p>
      <p><strong>Account name:</strong> {{ account?.accountName }}</p>
      <p><strong>Account type:</strong> {{ account?.accountType }}</p>
      <p><strong>Account Number:</strong> {{ account?.accountNumber }}</p>
      <p><strong>Balance:</strong> {{ account?.availableBalance }} RSD</p>
    </div>
<!--    <button class="payment-btn" (click)="openModal()">Payment</button>-->
  </div>
  <button class="payment-btn" [routerLink]="['/account', accountNumber, 'create-card']">
    Create New Card
  </button>
  <h3>Associated Cards</h3>
  <table>
    <tr>
      <th>Card Number</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let card of cards">
      <td>{{ maskCardNumber(card.cardNumber) }}</td>
      <td [ngClass]="getCardStatusClass(card.status)">{{ card.status }}</td>
      <td>{{ card.owner.firstName }} {{ card.owner.lastName }}</td>
      <td>
        <!-- ✅ Dynamic Block/Unblock Button -->
        <button class="block-card-btn"
                (click)="blockCard(card.cardNumber, card.status)">
          {{ card.status === 'BLOCKED' ? 'Unblock Card' : 'Block Card' }}
        </button>

        <!-- ✅ Show "Deactivate" Only for Admins -->
        <button *ngIf="authService.isAdmin()" class="block-card-btn"
                (click)="deactivateCard(card.cardNumber)"
                [disabled]="card.status === 'DEACTIVATED'">
          Deactivate Card
        </button>
      </td>
    </tr>
  </table>

  <app-modal [title]="'Payment'" [isOpen]="isModalOpen" (closeModalEvent)="closeModal()">
    <div class="modal-content">
      <div style="display: grid; gap: 0.5rem; margin-top: 1rem; grid-template-columns: repeat(2, 1fr)">
        <button class="payment-btn" [routerLink]="['/new-payment']">New Payment</button>
        <button class="payment-btn" [routerLink]="['/transfer']">Transfer Payment</button>
        <button class="payment-btn" [routerLink]="['/recipients']">Payment Recipients</button>
        <button class="payment-btn" [routerLink]="['/payment-details']">Payment Details</button>
      </div>
    </div>
  </app-modal>
</section>
