<div class="users-container">
  <h2>Users</h2>

  <app-alert></app-alert>

  <ng-container *ngIf="employeeOrAdminGuard; else notAuthorized">
    <button class="register-btn" (click)="registerUser()">Register New User</button>

    <div *ngIf="users.length > 0; else noUsers">
      <div *ngFor="let user of pagedUsers" class="user-card">
        <span class="user-info"><strong>{{ user.firstName }} {{ user.lastName }}</strong> ({{ user.email }})</span>
        <p><strong>Birth Date:</strong> {{ user.birthDate | date:'yyyy-MM-dd' }}</p>
        <p><strong>Gender:</strong> {{ user.gender }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>

        <div class="user-actions">
          <button *ngIf="isAdmin" (click)="deleteUser(user.id)" class="delete-btn">Delete</button>
          <button (click)="editUser(user.id)" class="edit-btn">Edit</button>
        </div>
      </div>
    </div>
    <ng-template #noUsers><p>No users found.</p></ng-template>

    <!-- Paginacija -->
    <app-pagination
      [totalItems]="filteredUsers.length"
      [pageSize]="pageSize"
      (pageChanged)="onPageChanged($event)">
    </app-pagination>
  </ng-container>

  <ng-template #notAuthorized>
    <p>You are not authorized to view this page.</p>
  </ng-template>
</div>
