<div class="payment-container">
  <h2>New Payment</h2>

  <form #paymentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <app-select label="Sender Account Number" id="senderAccountNumber" [(ngModel)]="payment.senderAccountNumber"
                  name="senderAccountNumber" required>
        <option value="" disabled>Select Sender Account</option>
        <option *ngFor="let account of accounts" [value]="account.accountNumber">
          {{ account.accountNumber }} ({{ account.owner.firstName }} {{ account.owner.lastName }})
        </option>
      </app-select>
    </div>
    <div class="form-group">
      <input-text label="Receiver Account Number" id="receiverAccountNumber" type="text"
                  [(ngModel)]="payment.receiverAccountNumber" name="receiverAccountNumber" required/>
    </div>
    <div class="form-group">
      <input-text label="Amount" id="amount" type="number" [(ngModel)]="payment.amount" name="amount" required
                  min="0.01"/>
    </div>
    <div class="form-group">
      <input-text label="Payment Code" id="paymentCode" type="text" [(ngModel)]="payment.paymentCode" name="paymentCode"
                  required/>
    </div>
    <div class="form-group">
      <input-text label="Purpose of Payment" id="purposeOfPayment" type="text" [(ngModel)]="payment.purposeOfPayment"
                  name="purposeOfPayment" required/>
    </div>
    <div class="form-group">
      <input-text label="Reference Number" id="referenceNumber" type="text" [(ngModel)]="payment.referenceNumber"
                  name="referenceNumber"/>
    </div>
    <app-button type="submit" [disabled]="!paymentForm.form.valid">Submit Payment</app-button>
  </form>
</div>
