<div class="card width-50 client-portal-container">

  <h1>Client Portal</h1>

  <!-- Filter Section -->
  <div class="flex justify-between">

    <div class="flex-col" style="gap: 0.5rem">
      <span>Filter by:</span>
      <div class="filter-section">
        <input-text placeholder="Name" [(ngModel)]="filter.name" (input)="filterClients()" label=""/>
        <input-text placeholder="Last Name" [(ngModel)]="filter.surname" (input)="filterClients()" label=""/>
        <input-text placeholder="Email" type="email" [(ngModel)]="filter.email" (input)="filterClients()" label=""/>
      </div>
    </div>

    <app-button *ngIf="isEmployeeOrHigher" (onClick)="registerNewUser()">Register New User</app-button>
  </div>

  <!-- Client List -->
  <div class="client-list">
    <div class="client-card justify-between" *ngFor="let client of pagedClients">
      <div class="client-info">
        <span class="client-name"><strong>{{ client.firstName }} {{ client.lastName }}</strong></span>
        <span class="client-email">{{ client.email }}</span>
      </div>
      <div class="flex" style="gap: 0.4rem">
        <app-button *ngIf="isEmployeeOrHigher" (click)="listAccounts(client.id)">List Accounts</app-button>
        <app-button *ngIf="isEmployeeOrHigher" [routerLink]="['/users', client.id]">Edit User</app-button>
        <app-button *ngIf="isAdmin" (click)="deleteUser(client.id)">Delete User</app-button>
        <app-button *ngIf="isEmployeeOrHigher" (click)="clientLoans(client.id)">Loans</app-button>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <app-pagination
    [totalItems]="filteredClients.length"
    [pageSize]="pageSize"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>

</div>
