.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.modal-overlay.active {
  display: flex;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close-btn {
  cursor: pointer;
}
