<div class="users-container">
    <h2>Users</h2>

    @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
    }

    @if (isAdmin) {
        <div *ngIf="users.length > 0; else noUsers">
            <div *ngFor="let user of users" class="user-card">
                <span class="user-info">{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</span>
            </div>
        </div>
        <ng-template #noUsers><p>No users found.</p></ng-template>
    } @else {
        <p>You are not authorized to view this page.</p>
    }
</div>
