body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #B399DD, #D0C9EA);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

/* Kontejner */
.container {
  width: 70%;
  text-align: center;
}

/* Tabele */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #D0C9EA;
  font-weight: bold;
}

/* Akcije za kartice */
.action-btn {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 600;
}

.block {
  background: red;
  color: white;
}

.block:hover {
  background: darkred;
}

.unblock {
  background: orange;
  color: white;
}

.unblock:hover {
  background: darkorange;
}

.deactivate {
  background: gray;
  color: white;
}

.deactivate:hover {
  background: darkgray;
}
