<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
        <h2>Banka 3</h2>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Enter your email"
            [(ngModel)]="email"
            name="email"
            required
            #emailField="ngModel"
          />
          <div class="error" *ngIf="emailField.invalid && emailField.touched">
            Email is required
          </div>

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
            [(ngModel)]="password"
            name="password"
            required
            #passwordField="ngModel"
          />
          <div class="error" *ngIf="passwordField.invalid && passwordField.touched">
            Password is required
          </div>

          <button type="submit" [disabled]="loginForm.invalid" routerLink="/users">Login</button>

          <div class="login-links">
          <a routerLink="/reset-password">Forgot Password?</a>
            <span class="separator">|</span>
            <a routerLink="/register">Register</a>
          </div>
        </form>
      </div>

  </body>
</html>
