<div class="login-container">
  <div class="card login-card flex-col gap-1">
    <h2>Banka 3</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <input-text name="email" type="email" placeholder="Email" [(ngModel)]="email"
        [validationRules]="[validations.required, validations.minLength(3), validations.isEmail]"></input-text>

      <input-text name="password" type="password" placeholder="********" [(ngModel)]="password"
        [validationRules]="[validations.required, validations.minLength(3)]"></input-text>

      <div class="flex justify-between login-links">
        <app-button type="submit" [disabled]="loginForm.invalid">Login</app-button>

        <a [routerLink]="['/forgot-password']">Forgot Password?</a>
      </div>
    </form>
<div *ngIf="errorAlert" class="error-card">
  <i class="ri-error-warning-line icon"></i>
  {{ errorMessage }}
</div>
  </div>
</div>
